.heroSection {
    width: 80%;
    margin: 3rem auto;
}

.heroSection_box {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Two columns by default */
    gap: 2rem;
}

.heroSection_box_left {
    padding-right: 6rem;
}

.heroSection_box_left h1 {
    font-size: 5rem;
    line-height: 1;
}

.heroSection_box_left p {
    margin-bottom: 2rem;
}

.heroSection_box_right {
    display: flex; 
    align-items: center; 
}


/* Media query for small devices (max-width: 560px) */
@media screen and (max-width: 560px) {
    .heroSection {
        width: 90%; /* Adjust the width of the hero section */
    }
}

/* Media query for medium devices (max-width: 880px) */
@media screen and (max-width: 880px) {
    .heroSection_box {
        grid-template-columns: 1fr; /* Ensure single column layout */
        gap: 1rem; /* Adjust gap */
    }

    .heroSection_box_left {
        padding-right: 2rem; /* Adjust padding */
    }

    .heroSection_box_left h1 {
        line-height: 1;
        font-size: 3rem;; /* Adjust for medium devices */
    }

    .heroSection_box_left p{
        font-size: 1.2rem;
    }
}
